*{
    margin: 0;
}
.contenedor{
	display: flex;
	max-width: 100%;
	height: 600px;
	background-image: url(/images/banner-bk.jpg);
}
.contenedor .wrap{
	max-width: 1000px;
	margin: 50px;
	height: 80%;
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
}

.contenedor .wrap .box{
    flex-basis: 40%;
	color: #fff;
	text-align: left;
	align-self: center;
}
.contenedor .wrap .box span{
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 300;
	
}
.contenedor .wrap .box h1{
	font-size: 32px;
	line-height: .9;
	padding-bottom: 10px;
	
}
.contenedor .wrap .box p{
	font-size: 15px;
	line-height: 1.2;
}
.contenedor .wrap .box .botones{
	display: flex;
	margin-top: 30px;
	flex-flow: row wrap;
}
.contenedor .wrap .box .botones .btn1{
	flex-basis: 30%;
	border: solid 2px;
	border-radius: 20px;
	padding: 10px 30px 10px 30px;
	margin-right: 20px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}