* {
	margin: 0;
}

.banner {
	background-image: url(/images/banner-bk.jpg);
	height: 600px;
}

header {
	position: sticky;
	height: 4rem;
	padding: 20px 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header img {
	position: relative;
	padding: 40px 120px;
	width: 60px;

}

header p {
	font-size: 1.5rem;
	cursor: pointer;
	width: 100%;
	color: white;
}

.text-head {
	position: relative;
	padding: 40px 120px;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.text-head h1 {
	font-size: 70px;
	width: 60%;
	color: white;
}

.text-head p {
	font-size: 20px;
	width: 65%;
	margin-top: 10px;
	color: white;
}

.text-head .button p {
	background-color: #00ffaa;
	border-radius: 30px;
	padding: 12px 10px;
	width: 7rem;
	text-align: center;
	text-decoration: none;
	color: #000;
	margin-top: 40px;
	font-weight: 1000;
	cursor: pointer;
}

.sect-2 {
	height: 500px;
}

.sect-2 h2 {
	text-align: center;
	font-size: 50px;
	margin-top: 40px;
	font-weight: 900;
}

.sect-2-img {
	display: flex;
	justify-content: space-around;
	margin: 100px 50px 50px;
}

.sect-2-img .img1 {
	text-align: center;
	font-size: 20px;
	width: 30%;
}

.sect-2-img .img2 {
	text-align: center;
	font-size: 20px;
	width: 30%;
}

.sect-2-img .img3 {
	text-align: center;
	font-size: 20px;
	width: 30%;
}

.text-body {
	position: relative;
	padding: 40px 120px;
	display: flex;
	justify-content: left;
	margin-top: 50px;
	margin-left: 0;
	height: 400px;
	background: #ffffff;
}

.text-body h2 {
	font-size: 50px;
	width: 60%;
	color: rgb(0, 0, 0);
}

.text-body p {
	font-size: 20px;
	width: 60%;
	margin-top: 20px;
	color: rgb(0, 0, 0);
}

.text-body .button-body p {
	background-color: #09051f;
	border-radius: 30px;
	padding: 12px 10px;
	width: 7rem;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	margin-top: 50px;
	cursor: pointer;
}

.sect-body {
	position: relative;
	padding: 40px 120px;
	display: flex;
	justify-content: left;
	margin-top: 50px;
	margin-left: 0;
	height: 400px;
	background-color: #00ffaa;
}

.sect-body h2 {
	font-size: 50px;
	width: 60%;
	color: rgb(0, 0, 0);
}

.sect-body p {
	font-size: 20px;
	width: 60%;
	margin-top: 20px;
	color: rgb(0, 0, 0);
}

.sect-body .button-body p {
	background-color: #09051f;
	border-radius: 30px;
	padding: 12px 10px;
	width: 7rem;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	margin-top: 70px;
	cursor: pointer;
}

.sect-5 {
	height: 800px;
}

.sect-5 h2 {
	text-align: center;
	font-size: 50px;
	margin-top: 40px;
	font-weight: 900;
}

.sect-5-img {
	display: flex;
	justify-content: center;
}

.price-1 {
	width: 30%;
	margin-top: 55px;
	font-size: 25px;
	text-align: center;
	border-radius: 20px;
	height: 580px;
}

.price-1:hover {
	background-color: #00ffaa;
}
.price-1 .button-price1 p {
	background-color: white;
	border: solid black;
	border-radius: 30px;
	padding: 12px 10px;
	width: 12rem;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 40px;
	margin-left: 155px;
	cursor: pointer;
}

.price-1 .button-price1 p:hover {
	background-color: #00c07b;
}

.price-1 h5 {
	margin-top: 20px;
	font-size: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.price-1 p {
	font-size: 25px;
	margin-top: 40px;
}

.price-1 h6 {
	font-size: 30px;
}

.price-1 h6 big {
	font-size: 100px;
}

.price-2 {
	width: 30%;
	margin-top: 55px;
	font-size: 25px;
	text-align: center;
	border-radius: 20px;
	height: 580px;
}

.price-2:hover {
	background-color: #00ffaa;
}

.price-2 .button-price2 p {
	background-color: white;
	border: solid black;
	border-radius: 30px;
	padding: 12px 10px;
	width: 12rem;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 40px;
	margin-left: 155px;
	cursor: pointer;
}

.price-2 .button-price2 p:hover {
	background-color: #00c07b;
}

.price-2 h5 {
	margin-top: 20px;
	font-size: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.price-2 p {
	font-size: 25px;
	margin-top: 40px;
}

.price-2 h6 {
	font-size: 30px;
}

.price-2 h6 big {
	font-size: 100px;
}

.price-3 {
	width: 30%;
	margin-top: 55px;
	font-size: 25px;
	text-align: center;
	border-radius: 20px;
	height: 580px;
}

.price-3:hover {
	background-color: #00ffaa;
}

.price-3 .button-price3 p {
	background-color: white;
	border: solid black;
	border-radius: 30px;
	padding: 12px 10px;
	width: 12rem;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 40px;
	margin-left: 155px;
	cursor: pointer;
}

.price-3 .button-price3 p:hover {
	background-color: #00c07b;
}

.price-3 h5 {
	margin-top: 20px;
	font-size: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.price-3 p {
	font-size: 25px;
	margin-top: 40px;
}

.price-3 h6 {
	font-size: 30px;
}

.price-3 h6 big {
	font-size: 100px;
}

.sect-6 {
	display: flex;
	justify-content: space-evenly;
	height: 200px;
	background-color: #dedfdf;
	margin-top: 30px;
}

.sect-6 img {
	height: 100px;
	padding-top: 50px;
}